<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-header pull-left">
    <a class="navbar-brand" routerLink="/dashboard" routerLinkActive="active">
      <span class="fa fa-arrow-left"></span>
    </a>
  </div>
  <div class="navbar-header pull-right">
    <span class="bloc-interrupteur" role="group" aria-label="...">
      <button type="button" class="btn btn-default interrupteur" [ngClass]="{'heure-active':prog.interrupteur==1}" (click)="clickOn()">ON</button>
      <button type="button" class="btn btn-default interrupteur" [ngClass]="{'heure-active':prog.interrupteur==0}" (click)="clickOff()">OFF</button>
      <button type="button" class="btn btn-default interrupteur" [ngClass]="{'heure-active':prog.interrupteur==2}" (click)="clickAuto()">AUTO : {{getTotalHeure()}} h</button>
    </span>
  </div>
</nav>

<button [@btnState]="state" (click)="clicAction()" class="btn floating-action">
  <span class="fa fa-pencil" [ngClass]="{'fa-pencil':!editable, 'fa-check':editable}"></span>
</button>
<!--<button *ngIf="editable"  (click)="validate()" class="btn floating-action"><span class="fa fa-check"></span></button>-->
<div class="page-piscine container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6">
      <div class="svg-container">

        <svg version="1.1" viewBox="0 0 500 500" preserveAspectRatio="xMinYMin meet" class="svg-content">
          <text font-size="36px" [attr.x]="200" [attr.y]="200" fill="#fff" text-anchor="middle" dy=".3em">AM</text>
          <g *ngFor="let item of secteurs; let i = index" (click)="togglePlageHoraire(i)">
            <circle fill="#3D3D3D" stroke="#fff" stroke-width="1" stroke-miterlimit="10" [attr.cx]="200+item.x" [attr.cy]="200-item.y"
              r="25" opacity="0.6" />

            <text [ngClass]="{'heure-active':prog.plagesHoraires[i]}" font-size="22px" [attr.x]="200+item.x" [attr.y]="200-item.y" fill="#fff"
              text-anchor="middle" dy=".3em">{{i}}</text>

          </g>
        </svg>

      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6">
      <div class="svg-container">

        <svg version="1.1" viewBox="0 0 500 500" preserveAspectRatio="xMinYMin meet" class="svg-content">
          <text font-size="36px" [attr.x]="200" [attr.y]="200" fill="#fff" text-anchor="middle" dy=".3em">PM</text>
          <g *ngFor="let item of secteurs; let i = index" (click)="togglePlageHoraire(i+12)">
            <circle fill="#3D3D3D" stroke="#fff" stroke-width="1" stroke-miterlimit="10" [attr.cx]="200+item.x" [attr.cy]="200-item.y"
              r="25" opacity="0.6" />

            <text [ngClass]="{'heure-active':prog.plagesHoraires[i+12]}" font-size="22px" [attr.x]="200+item.x" [attr.y]="200-item.y"
              fill="#fff" text-anchor="middle" dy=".3em">{{i+12}}</text>

          </g>
        </svg>

      </div>
    </div>
  </div>
</div>