<div class="page-piscine container-fluid">
  <h4>Programmation des plages horaires de la pompe</h4>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6">
      <div class="svg-container">

        <svg version="1.1" viewBox="0 0 500 500" preserveAspectRatio="xMinYMin meet" class="svg-content">
          <text  font-size="36px" [attr.x]="200" [attr.y]="200" fill="#fff"
              text-anchor="middle" dy=".3em">AM</text>
          <g *ngFor="let item of secteurs; let i = index" (click)="togglePlageHoraire(i)">
            <circle fill="#3D3D3D" stroke="#fff" stroke-width="1" stroke-miterlimit="10" [attr.cx]="200+item.x" [attr.cy]="200-item.y"
              r="20" opacity="0.6" />

            <text [ngClass]="{'heure-active':prog.topics[i]}" font-size="18px" [attr.x]="200+item.x" [attr.y]="200-item.y" fill="#fff"
              text-anchor="middle" dy=".3em">{{i}}</text>

          </g>
        </svg>

      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6">
      <div class="svg-container">

        <svg version="1.1" viewBox="0 0 500 500" preserveAspectRatio="xMinYMin meet" class="svg-content">
          <text  font-size="36px" [attr.x]="200" [attr.y]="200" fill="#fff"
              text-anchor="middle" dy=".3em">PM</text>
          <g *ngFor="let item of secteurs; let i = index" (click)="togglePlageHoraire(i+12)">
            <circle fill="#3D3D3D" stroke="#fff" stroke-width="1" stroke-miterlimit="10" [attr.cx]="200+item.x" [attr.cy]="200-item.y"
              r="20" opacity="0.6" />

            <text [ngClass]="{'heure-active':prog.topics[i+12]}" font-size="18px" [attr.x]="200+item.x" [attr.y]="200-item.y" fill="#fff"
              text-anchor="middle" dy=".3em">{{i+12}}</text>

          </g>
        </svg>

      </div>
    </div>
    <h5>Pompes actives {{ getTotalHeure() }} par jour </h5>


  </div>
</div>