<div class="row">
  <div class="col-sm-12">
    <widget-piscine></widget-piscine>
    <div class="widget ">
      <div class="caption">
        <h4>Jardin</h4>
      </div>
      <div class="content">
        <i class="fa fa-shower fa-2x"></i>
        <p>Arrosage à</p>
        <p>21h30</p>
      </div>
    </div>
    <div class="widget ">
      <div class="caption">
        <h4>Méteo</h4>
      </div>
      <div class="content">
        <i class="fa fa-meteo fa-2x"></i>
        <p>min 20°</p>
        <p>max 25°</p>
      </div>
    </div>
  </div>
  <div class="col-sm-3">

  </div>
  <div class="col-sm-3">

  </div>
</div>