<div class="container-fluid">
<div class="row">
  <div class="col-md-3 col-sm-6 col-xs-12">
    <app-meteo-widget></app-meteo-widget>
  </div>
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="dummy"></div>
    <a href="" class="thumbnail">
      <h4 class="">Jardin</h4>
      <div class="content">
        <i class="fa fa-shower fa-2x"></i>
        <p>Arrosage à</p>
        <p>21h30</p>
      </div>
    </a>
  </div>
  <div class="col-md-3 col-sm-6 col-xs-12">
    <widget-piscine></widget-piscine>
  </div>
  <div class="col-md-3 col-sm-6 col-xs-12">
<div class="dummy"></div>
    <a href="" class="thumbnail">
      </a>
  </div>


</div>
</div>