/* You can add global styles to this file, and also import other style files */
@import '~font-awesome/css/font-awesome.css';
@import "./customBootstrap/css/bootstrap.min.css";

body {
    background-color:#222;
}


.dummy {
    margin-top:80%;
}
.thumbnail {
    position: absolute;
    top: 15px;
    bottom: 0;
    left: 15px;
    right: 0;
    text-align:center;
    /*padding-top:calc(50% - 30px);*/
    background-color: #3D3D3D;
    color:white;
    border: none;
    border-radius: 0px;
    text-decoration: none;
}
.thumbnail:hover {
    text-decoration: none;
    color:white;
}
.thumbnail h4 {
    margin-top: 0;
    margin-bottom: 0;
    padding: 10px 10px 10px 10px;
    border-bottom: 1px dashed #222;
    text-align:  left;
    
}

.thumbnail .caption {
    padding: 10px 10px 0px 10px;
    border-bottom: 1px dashed #222;
}
.thumbnail .content {
    text-align: center;
    padding-top: 20px;
}
.thumbnail .content p {
    font-size:25px;
}
.thumbnail .content .fa {
    color: rgb(178,200,46);
}